/* =============
    Typography
============= */
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PP Agrandir Grand';
    src: url('../assets/fonts/PPAgrandir-GrandHeavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Agrandir';
    src: url('../assets/fonts/PPAgrandir-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Migra';
    src: url('../assets/fonts/PPMigra-Extralight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

h1{
    font-size: rem-calc(68px);
    font-family: 'PP Migra';
    line-height: 77px;
}

h2{
    font-size: rem-calc(52px);
    font-family: 'PP Migra';
    line-height: 48px;
}

h3{
    font-size: rem-calc(40px);
    font-family: 'PP Migra';
    line-height: 44px;
}

h4{
    font-size: rem-calc(28px);
    font-family: 'PP Agrandir Grand';
    line-height: 1.2;
}

h5{
    font-size: rem-calc(18px);
    font-family: 'PP Agrandir Grand';
    line-height: 18px;
}

h6{
    font-size: rem-calc(16px);
    font-family: 'PP Agrandir Grand';
    color: white;
    line-height: 16px;
}

p{
    font-size: rem-calc(14px);
    font-family: 'PP Agrandir';
    line-height: 1.4;
}

button{
    font-size: rem-calc(12px);
    font-family: 'PP Agrandir';
    line-height: 13px;
}

span{
    font-size: rem-calc(40px);
    font-family: 'PP Agrandir';
    // line-height: 45px;
}

a{
    font-size: rem-calc(10px);
    font-family: 'PP Agrandir';
    line-height: 13px;
    color: black;
}