/* =============
    Content
============= */

#content{
    background-color: #EDE9E3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 80px 0px;
    
    >div{
        width: 80vw;

        :nth-child(10){
            margin-bottom: 0px;
        }
    
        :last-child{
            margin-bottom: 0px;
        }

        #image{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px 0px;
        }

        p{
            margin-bottom: 18px;
        }
    }
}