/* =============
    Content
============= */

#content{
    background-color: #EDE9E3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0px 90px 0px;
    
    div{
        text-align: center;
        width: 80vw;

        :nth-child(10){
            margin-bottom: 0px;
        }
    
        :last-child{
            margin-bottom: 0px;
        }

        img{
            height: 350px;
            width: 350px;
            margin: 100px 0px 100px 0px;
        }

        p{
            margin-bottom: 18px;
        }
    }
}