/* =============
    Contact
============= */

#contact{
    background-color: #EDE9E3;
    height: 461px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 62px;
    margin-bottom: -55px;

    div{
        // h4{
            
        // }
        p{
            margin: 27px 0px 50px 27px;
            font-size: rem-calc(10px);
        }
        div{
            input{
                border: black solid 1px;
                background-color: transparent;
            }
            button{
                border: none;
                background-color: transparent;
                font-size: rem-calc(10px);
            }
        }
    }
}