/* =============
    Hero
============= */

#hero{
    background-image: url("../assets/home/hero/hero.jpg");
    height: 812px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: -80px;

    >div{
        padding: 130px 0px 45px 0px;
        text-align: center;

        h4{
            padding-bottom: 435px;
            -webkit-text-stroke:1.5px black;
            -webkit-text-fill-color:transparent;
        }
        h6{
            padding-bottom: 25px;
            font-size: rem-calc(12px);
            color: white;
        }
        img{
            height: 100px;
            width: 15px;
        }
    }
}