/* =============
    Intro
============= */

#intro{
    background-image: url("../assets/home/intro/background.jpg");
    height: 410px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    >div{
        text-align: center;
        padding: 0px 15%;

        img{
            width: 214px;
            height: 214px;
        }
        h5{
            margin-top: -32px;
            color: white;
        }
        p{
            margin-top: 32px;
        }
    }
}