/* =============
    Menu
============= */

#menu{
    height: 100vh;
    background-color: #EDE9E3;
    display: flex;
    justify-content: center;
    align-items: center;
    
    div{
        text-align: right;

        #icon{
            font-size: rem-calc(20px);
            margin-bottom: 34px;
        }
        
        ul{
            text-align: center;
            
            li{
                padding: 34px;
                
                a{
                    font-size: rem-calc(30px);
                    font-family: 'PP Agrandir';
                }

                a:link,
                a:visited {
                    color: $black;
                    transition: 0.25s;
                    // font-size: rem-calc(48px);
                    // font-family: 'PP Migra';

                    &:hover,
                    &:active {
                        color: #E84146;
                    }
                }
                
                input{
                    border: none;
                    background-color: transparent;
                    outline: none;
                    text-align: center;
                    font-size: rem-calc(30px);
                    font-family: 'PP Agrandir';

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: black;
                        /* Firefox */
                        opacity: 1;
                        font-variation-settings: "wght"300;
                    }
    
                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: black;
                        font-variation-settings: "wght"300;
                    }
    
                    &::-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: black;
                        font-variation-settings: "wght"300;
                    }
                }
            }
        }
    }
}
