/* =============
    Hero
============= */

#shop-hero{
    background-color: #EDE9E3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 558px;
    margin-top: -135px;

    >div{
        text-align: center;
        width: 70vw;

        h5{
            font-size: rem-calc(14);
        }

        video{
            margin: 25px 0px 25px 0px;
        }

        p{
            font-size: rem-calc(10);
        }
    }
}