/* =============
    Hero
============= */

#shop-hero{
    background-color: #EDE9E3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;

    >div{
        text-align: center;
        width: 70vw;
        padding: 100px 0px 60px 0px; 

        video{
            margin: 25px 0px 25px 0px;
        }
    }
}