/* =============
    Footer
============= */

footer{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    >div{
        border-top: black 1px solid;
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;

        ul{
            width: 100%;
            text-align: center;

            li{
                padding: 15px 0px;
                width: 100%;

                a{
                    padding: 15px 60px;
                }

                a:link,
                a:visited {
                    color: $black;
                    font-size: rem-calc(12);

                    &:hover,
                    &:active {
                        color: #E84146;
                        transition: 0.25s;
                    }
                }
            }
        }
    }
}