/* =============
    Header
============= */

header{
    background-color: transparent;
    left: 0px;
    right: 0px;
    width: 100%;

    >div{
        display: grid;
        grid-template-columns: 40% auto;
        padding: 55px 16px;

        a{
            font-size: rem-calc(14px);
            font-family: 'PP Migra';
        }

        a:link,
        a:visited {
            color: $black;
        }

        button{
            margin-left: auto;
            border: none;
            background-color: transparent;

            i{
                font-size: rem-calc(20px);
            }
        }
    }
}
