/* =============
    Header
============= */

header{
    background-color: transparent;
    left: 0px;
    right: 0px;
    width: 100%;

    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 10%;

        a{
            font-size: rem-calc(14px);
            font-family: 'PP Migra';
            
            i{
                font-size: rem-calc(20px);
            }
        }

        a:link,
        a:visited {
            color: $black;
        }
    }
}
