/* =============
    Header
============= */

header{
    background-color: transparent;
    left: 0px;
    right: 0px;
    width: 100%;

    >div{
        display: grid;
        grid-template-columns: 40% auto;
        padding: 55px 16px;

        a{
            @font-face {
                font-family: 'PP Migra';
                src: url('../assets/fonts/PPMigra-Extralight.woff2') format('woff2');
                font-weight: 200;
                font-style: normal;
                font-display: swap;
                font-size: rem-calc(14px);
            }
        }

        a:link,
        a:visited {
            color: $black;
        }

        button{
            margin-left: auto;
            border: none;
            background-color: transparent;

            i{
                font-size: rem-calc(20px);
            }
        }
    }
}
