/* =============
    Hero
============= */

#images{
    background-color: #EDE9E3;
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 52px 0px;

        ul{
            li{
                img{
                    width: 270px;
                    height: 270px;
                }
            }
        }
    }
    video{
        width: 100%;
    }
    h1{
        font-size: rem-calc(64);
        margin-top: -32px;
        // text-stroke: 30px solid #F59300;
        // color: transparent;
    }

}